

main {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Dos columnas iguales */
    grid-template-rows: 1fr 1fr;    /* Dos filas iguales */
    gap: 10px; /* Espacio más amplio entre las celdas */
    height: 98vh;
    padding: 10px; /* Un poco de padding para que no se tope con los bordes */
    box-sizing: border-box;
    background-color: black;
}

.temp1, .temp2, .temp3, .temp4 {
    border: 2px solid white; /* Bordes más visibles */
    border-radius: 5px; /* Bordes redondeados para mejorar la estética */
    padding: 5px;
    box-sizing: border-box;
}

.temp1{
  background-color: black;
  color: white;
}
.temp2{
  background-color: black;
  color: white;
}
.temp4 {
    background-color: black; /* Fondo gris oscuro para hacer los gráficos más legibles */
    color: white; /* Texto blanco para destacar sobre el fondo oscuro */
}

.temp3 {
    background-color: black; /* Fondo gris oscuro para hacer los gráficos más legibles */
    color: white; /* Texto blanco para destacar sobre el fondo oscuro */
}
