main {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    display: grid;  
    grid-template-columns: 1fr 1fr 1fr 1fr  1fr;
    grid-template-areas:
    "aside header  header  header  header"
    "aside  section section section section"
    "aside section  section  section  section";
    grid-template-rows: 16% 75% 10% ;
    height:99vh;
}

header { 
    grid-area: header; 
    background-color:#e8e8e8;
    border: 1px solid royalblue;
 }

aside { 
    grid-area: aside; 
     background-color: #252525; 
     border: 1px solid royalblue;
}

section { 
    grid-area: section; 
    background-color:#e8e8e8;
    border: 1px solid royalblue;
}


h2 {
    margin-top: 0;
    font-family: "Poppins", sans-serif, bold;
    font-size: medium;
}


.container {
    
    display: flex;
    flex-wrap: wrap;                /* Permitir que las tarjetas se apilen */
    justify-content: space-between;
    margin-top: -15px;
    padding: 20px;
}

.card {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 21px;
    margin-bottom: 20px;
    width: calc(40% - 20px); /* Ajustar el ancho de las tarjetas */
    height: 195px;            /* Altura fija */
}

.card h2 {
    margin-bottom: 10px;
}

.card p {
    margin: 0;
}