
<main>
    <content>
        <div class="sensor-container">
            <div class="sensor">
                <h2>Sensor de PH</h2>
            </div>

            <div class="sensor">
                <h2>Sensor de O2 </h2>
            </div>

            <div class="sensor">
                <h2>Sensor de Amoniaco</h2>
            </div>

            <div class="sensor">
                <h2>Sensor Temperatura</h2>
            </div>
            
        </div>
    </content>

    <aside >
      <app-aside></app-aside>
    </aside>
  
  
    <header>
        <app-header></app-header>
    </header>
</main>
  