main {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    display: grid;  
    grid-template-columns: 1.5fr 1fr 1fr 1fr  1fr;
    grid-template-areas:
    "aside header  header  header  header"
    "aside  section section section section"
    "aside section  section  section  section";
    grid-template-rows: 16% 75% 10% ;
    height:99vh;
}

header { 
    grid-area: header; 
    background-color:#e8e8e8;
   
 }

aside { 
    grid-area: aside; 
     background-color: #252525; 
   
}

section { 
    grid-area: section; 
    background-color:#e8e8e8;
   
}


h2 {
    margin-top: 0;
    font-family: "Poppins", sans-serif, bold;
    font-size: medium;
}


.sensor-container {
  display: grid;
  grid-template-columns: repeat(2, 100%); /* Dos columnas */
  grid-gap: 20px; /* Espaciado entre los sensores */
  padding: 10px;
  background-color: #e6e6e6; /* Fondo gris claro */
  margin-left: 20px;
}

.sensor {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  font-weight: bold;
  font-family: 'Arial', sans-serif;
  min-width: 200px;
  min-height: 200px;
}

.sensor:first-child {
  border: 2px solid transparent; /* Sin borde morado en esta versión */
}
